{% extends 'osa/_answer.md.jinja' %}
{% set aid = 130 %}
{% set answers_questions = [ 1027 ] %}

{% block answer %}

>
> ## WORK IN PROGRESS
>

A feature of {{alink('scoped entropy', 128)}}
analogous to mutual information is the following:

For any random variable $X$ and random object $Y$ of finitely many values,
$$
\begin{array}{lcr}
\W{\mathfrak{d}(X)}{Y} = 0 & \text{ if and only if } & \mbox{ $X$ and $Y$ are independent}
\end{array}
$$


# References

{% endblock answer %}

