{% extends '_doc.md.jinja' %}
{% set docid = 152 %}
{% set title = 'TBD' %}
{% set last_update = '2022-04-14' %}

{% block abstract %}
**STAGE:**  STUB

{% endblock abstract %}

{% block doc_content %}
\renewcommand{\P}{\operatorname{P}}
\newcommand{\E}{\operatorname{E}}

Let $D$ be the hybrid generation number (number of
admixed members in random lineage).

$\ddot{S}$ be the diploid genotype as one-hot matrix,
observed at non-negative integers times.

$\dot{S}$ be the haploid genotype as one-hot vector,
observed at times $t + 0.5$ for non-negative integer $t$.


Initial probabilities at time zero:
$$
\begin{aligned}
\P_0\{ D = 0 \} & = 1 \\
\P_0\left\{ \ddot{S} = \begin{bmatrix} 1 & 0 \\ 0 & 0 \end{bmatrix} \right\} & = \alpha \\
\P_0\left\{ \ddot{S} = \begin{bmatrix} 0 & 0 \\ 0 & 1 \end{bmatrix} \right\} & = 1 - \alpha
\end{aligned}
$$

## Concise summary

$$
\E_{t+0.5}[\dot{S} | D=d] =
\E_t\left[ \frac{1}{2}(\ddot{S}+\ddot{S}^T)\vec{1} \middle| D=d \right]
$$

For all $d > 1$,
$$
\E_t[\ddot{S} | D=d] =
\sum_{x \in B}
  \P_{t-0.5}\{D=d-1-x\} \P_{t-0.5}\{D=d-1+x\}
  \E_{t-0.5}[\dot{S} | D=d-1-x]
  \E_{t-0.5}[\dot{S} | D=d-1+x]^T
$$

where $B$ is all non-negative reals representable
by binary digits (a finite number of).

### With migration:

$$
\E_{t+0.5}[\dot{S} | D=d]
  = \beta_t \E_t[\ddot{S}\vec{1} | D=d]
  + (1- \beta_t) \vec{\alpha_t}
$$
assuming $\P\{ \ddot{S} = s \} = \P\{ \ddot{S} = s^T \}$ for all $s$.

## Details

### Positive integer times

For all $d > 1, e_i, e_j$,
$$
\P_t\{ D=d, \ddot{S} = e_i e_j^T \} = 
\sum_{x \in B}
  P_{t-0.5}\{ D=d-1-x, \dot{S}=e_i \}
  P_{t-0.5}\{ D=d-1+x, \dot{S}=e_j \}
$$

For all $e_i, e_j$,
$$
\P_t\{D = e_i^T e_j, \ddot{S} = e_i e_j^T \} = 0
$$
and
$$
\P_t\{D = 1 - e_i^T e_j, \ddot{S} = e_i e_j^T \} =
\P_{t-0.5}\{ D=0, \dot{S}=e_i \}
\P_{t-0.5}\{ D=0, \dot{S}=e_j \}
$$

### Half times

$\P_{t+0.5} \{ D=d, S=(1,0) \} =$
$$
\P_t \left\{ D=d, \ddot{S} = \begin{bmatrix} 1 & 0 \\ 0 & 0 \end{bmatrix} \right\}
+ \frac{1}{2} \left(
  \P_t \left\{ D=d, \ddot{S} = \begin{bmatrix} 0 & 1 \\ 0 & 0 \end{bmatrix} \right\}
  + \P_t \left\{ D=d, \ddot{S} = \begin{bmatrix} 0 & 0 \\ 1 & 0 \end{bmatrix} \right\}
\right)
$$
And ditto for  $(0,1)$.

{% endblock doc_content %}

