{% extends 'osa/_answer.md.jinja' %}
{% set docid = 129 %}
{% set title = "Entropy Scope of Relevance" %}

{% block answer %}

{% raw %}
\newcommand{\B}[2]{{B}_{ #1}(#2)}
\newcommand{\0}{\mathtt{0}}
\newcommand{\1}{\mathtt{1}}
{% endraw %}

>
> ## WORK IN PROGRESS
>

Let $\dom{f}$ denote the domain of a function $f$.
Given $\pi$ a set of sets, let $\selfcup{\pi}$ denote the union of all member
sets in $\pi$. When $\pi$ is a partition, $\pi$ covers $\selfcup{\pi}$.

In a _scope of relevance_, partitions represent questions with each member
set (part) an answer. Each answer represents an event of a probability space.

Given a function over partitions of events of probability space $\Omega$,
define levels of the domain:

\begin{eqnarray*}
\sps{\theta}{0} & := &
  \{ \pi \in \dom{\theta} : \selfcup{\pi} = \Omega \}  \\
\sps{\theta}{i+1} & := & \left\{ \pi \in \dom{\theta} :
  \selfcup{\pi} \in \rho, \rho \in \sps{\theta}{i}
  , \pi \not\in \sps{\theta}{i}  \right\}  \\
\end{eqnarray*}

A _scope of relevance_ $\theta$ is a non-negative real-valued function
over partitions of events (subsets) of a probability space $\Omega$
with the following conditions:

1. At most one partition can cover any event.
   Formally, $\selfcup{\pi} = \selfcup{\rho}$ implies $\pi = \rho$
   for any partitions $\pi$ and $\rho$ in $\dom{\theta}$.
2. $\dom{\theta} = \bigcup_{i=0}^\infty \sps{\theta}{i}$
{# 3. Every partition has finitely many member sets (parts). #}

The domain of a scope of relevance is all relevant questions.
Each real value assigned to a question is a degree of relevance.
The second condition in the definition means the partitions (questions)
are dividing the probability space $\Omega$ in a nested hierarchical manner.
Or in other words, either the event of all outcomes ($\Omega$) or the event of
an answer to a question is the event under which another question can be asked.


## Scope product

\begin{eqnarray*}
\pi \times \rho & := & \{ A \cap B : A \in \pi, B \in \rho \}  \\
\pi \times B & := & \{ A \cap B : A \in \pi \}  \\
\end{eqnarray*}

Consider any two scopes $\theta$ and $\phi$ sharing probability space $\Omega$.
Define
\begin{eqnarray*}
\theta \times \phi & := &
  \bigcup_{i=0}^\infty
    \bigcup_{\substack{\pi \in \sps{\theta}{i} \\
                       \rho \in \sps{\phi}{i} \\
                       (\selfcup{\pi}) \cap (\selfcup{\rho}) \not= \emptyset }}
      \mathcal{C}(\pi, \rho)
\end{eqnarray*}
where
\begin{eqnarray*}
\mathcal{C}(\pi, \rho) & = & \begin{cases}
  \{ (\pi \times \rho) \mapsto \theta(\pi) \}
    & \text{ when } \theta(\pi) = \phi(\rho)  \\
  \left\{ \pi \mapsto \theta(\pi) \right\} \cup
    \bigcup_{A \in \pi} \left\{ \rho \times A \mapsto \phi(\rho) \right\} 
    & \text{ when } \theta(\pi) > \phi(\rho)  \\
  \left\{ \rho \mapsto \phi(\rho) \right\} \cup
    \bigcup_{A \in \rho} \left\{ \pi \times A \mapsto \theta(\pi) \right\} 
    & \text{ when } \theta(\pi) < \phi(\rho)  \\
  \end{cases}  \\
\end{eqnarray*}

#### Theorem (Scope product is a scope of relevance)

For any two scopes of relevance $\theta$ and $\phi$ sharing probability space
$\Omega$, $\theta \times \phi$ is also a scope of relevance.

**Proof**

TBD 


## Distribution Decomposition 

Given a set of random variables $\{ Z_i \}_{i \in I}$ with countable index set $I$,
and probability space $\Omega$,
for each $i \in I$,
define functions $\B{i}{s}$ and $c_i(s)$ over strings of alphabet
$\{ \0, \1 \}$ [@hopcroft_introduction_1979].

\begin{eqnarray*}
\B{i}{\epsilon} & := & \Omega \\
\end{eqnarray*}
For any string $s$ with ${ \P{ \B{i}{s} } > 0}$ ,
\begin{eqnarray*}
c_i(s) & := & \E{ Z_i | \B{i}{s} }  \\
\B{i}{s \0} & := & \B{i}{s} \cap \{ Z_i < c_i(s) \} \\
\B{i}{s \1} & := & \B{i}{s} \cap \{ Z_i > c_i(s) \} \\
\end{eqnarray*}
otherwise
\begin{eqnarray*}
\B{i}{s\ell} & := & \emptyset \\
\end{eqnarray*}

A new probability space $\Omega'$ is defined by extending $\Omega$
such that for each $i \in I$ and string $s \in \{ \0, \1 \}^*$
with $\P{\B{i}{s}} - \P{ \{Z_i = c_i(s)\} } > 0$,
there are new disjoint events $C_{i,0}(s)$ and $C_{i,1}(s)$ such that
\begin{eqnarray*}
\{Z_i = c_i(s)\} & = & C_{i,0}(s) \cup C_{i,1}(s)  \\
\end{eqnarray*}
and for each $\ell \in \{ \0, \1 \}$
and all events $S$ in $\Omega$
\begin{eqnarray*}
\P{ S \cap C_{i,\ell}(s) } & = & \P{ S \cap \{Z_i = c_i(s)\} } 
    \frac{ \P{\B{i}{s\ell}} }{ \P{\B{i}{s}}-\P{ \{Z_i = c_i(s)\} } }  \\
\end{eqnarray*}
Define
\begin{eqnarray*}
B'_i(s) & := & \B{i}{s} \cup C_{i,\ell}(s) \\
v_i(s) & = & \sum_{\ell \in \{ \0, \1 \}}
             \P{\B{i}{s\ell}|\B{i}{s}} \left( c_i(s\ell)-c(0) \right)^2  \\
h_i(s) & = & \sum_{\ell \in \{ \0, \1 \}}
           h(\B{i}{s\ell}|\B{i}{s})  \\
\theta_i & := &
 \left\{ \{B'_i(s\0),B'_i(s\1)\} \mapsto v_i(s)/h_i(s) 
         : \P{\B{i}{s}} > 0 \right\}  \\
\end{eqnarray*}

The scope product across all $\theta_i$ is the distribution decomposition
of $\{ Z_i \}_{i \in I}$.

>
> TODO: scope product across countable index set
>


# References

{% endblock answer %}

