{% extends "_doc.md.jinja" %}
{% set root = "https://castedo.com/" %}

{% macro alink(txt, aid) %}
[{{txt}}]({{root}}osa/{{aid}}/) [@castedo_osa_{{aid}}]
{%- endmacro %}

{% block abstract %}
**DOCUMENT TYPE**: Open Study Answer

**QUESTION:** {{question()}}
{% endblock abstract %}

