{% extends '_format.jats.md.jinja' %}

{% macro shared_latex() %}
{% raw %}
\newcommand{\abs}[1]{\left|{ #1}\right|}
\newcommand{\norm}[1]{\left\|{ #1}\right\|}
\newcommand{\iprod}[2]{\left\langle{ #1}, { #2}\right\rangle}
\newcommand{\lb}{\log_2}
\newcommand{\E}[1]{\operatorname{E}\!\left({ #1}\right)}
\newcommand{\Es}[1]{{\operatorname{E}\!\left[{ #1}\right]}}
\renewcommand{\P}[1]{\operatorname{P}({ #1})}
\newcommand{\Var}[1]{\operatorname{Var}({ #1})}
\newcommand{\Vars}[1]{\operatorname{Var}\!\left[{ #1}\right]}
\renewcommand{\H}[1]{\operatorname{H}({ #1})}
\newcommand{\selfcup}[1]{{\cup{ #1}}}
\newcommand{\dom}[1]{\operatorname{dom}{ #1}}
{% endraw %}
{% endmacro %}

{% block markdown %}
{% block doc_content %}
{% endblock doc_content %}
{% endblock markdown %}

