---
title: "{{title}}"
author:
- surname: Ellerman
  given-names: E. Castedo
  email: castedo@castedo.com
  orcid: https://orcid.org/0000-0002-5014-4809
{% if self.abstract %}
abstract: |2
{{ self.abstract() | trim | indent(2, True) }}
{% endif %}
{% if last_update %}
date: {{last_update}}
{% endif %}
copyright:
  year: 2023
  statement: "© 2023, Ellerman et al"
  holder: Ellerman et al
license:
  type: open-access
  link: "https://creativecommons.org/licenses/by/4.0/"
  text: >-
    This document is distributed under a Creative Commons Attribution 4.0
    International license.
...

{% block markdown %}
{% endblock markdown %}
